

<div class="card m-3">
  <img src="http://loremflickr.com/300/150/<%= @restaurant.category%>%20food" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @restaurant.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @restaurant.category.capitalize %></h6>
    <p class="card-text"><%= @restaurant.description %></p>
    <p class="card-text"><small class="text-muted">Location: <%= @restaurant.address %></small></p>
    <p class="card-text"><small class="text-muted">Contact: <%= @restaurant.phone_number %></small></p>
  </div>
</div>

<%= link_to "Back", restaurants_path, class: "btn btn-primary m-3" %>

<%= link_to "Add Review",  new_restaurant_review_path(@restaurant), class: "btn btn-primary m-3" %>

<br>

<div class="card m-3 ">
  <div class="card-header">
    Reviews
  </div>
  <% @restaurant.reviews.each do |review| %>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= review.content %></p>
      <footer class="blockquote-footer"><%= '*' * review.rating %><cite title="Source Title">Anonymous</cite></footer>
    </blockquote>
  </div>
  <% end %>
</div>


